header{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 150px;
}


.parent{
    display: flex !important;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}


h1{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    color: white !important;
}









